body, * {
  cursor: auto;
}

body {
  font-family: Montserrat, sans-serif;
}

.shapes {
  position: relative;
  height: 45vh;
  width: 100vw;
  background: var(--highlight-color);
  overflow: hidden;
  opacity: 100;
}

.shape {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
}

.shape.shape-1 {
  background: var(--primary-color);
  width: 300px;
  height: 300px;
  margin: -150px 0 0 -150px;
}

.shape.shape-2 {
  background: var(--second-color);
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
}

.shape.shape-3 {
  background: var(--third-color);
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
}

.content {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #fff;
  clip-path: inset(0);
  user-select: none;
  mix-blend-mode: screen;
}

.animated-word {
  font-size: 10vw;
  /* font-size: 10vh; */
  font-weight: 900;
  color: #000;
  margin: 0;
  text-align: center;
  padding-top: 100px;
}
.animated-word:hover {
  cursor: none;
}

.animated-word-subtitle {
  margin: 0;
  font-size: 2vw;
  /* font-size: 2vh; */
}

.animated-word-subtitle:hover {
  cursor: none;
}


.cursor {
  position: fixed;
  background: #2128bd;
  /* width: 15px;
  height: 15px;
  margin: -10px 0 0 -10px; */
  border-radius: 50%;
  will-change: transform;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
}


::selection {
  color: #fff;
  background: #2128bd;
}
