.navbar {
  position: fixed;
  /* top: 0.75rem; */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  z-index: 100;
  font-family: Roboto, sans-serif;
  background-color: black;
}

.navbar__circle {
  border-radius: 50px;
  background: hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(1rem);
  /* background-color: rgba(135, 135, 135, 0.3); */
  /* background: 
    radial-gradient(ellipse at left, transparent 50%, #ccc 51%) left,
    radial-gradient(ellipse at right, transparent 50%, #ccc 51%) right #ccc; */
}

.navbar__menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__item {
  font-size: 0.7rem;
  padding: auto;
  margin: 0.5rem;
}

.navbar__link {
  text-decoration: none;
  color: white;
  font: 900;
  transition: color 0.3s;
}

.navbar__link:hover {
  color: blueviolet; /* Change the color to whatever you prefer on hover */
}


